/* Importing fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap");

/* Applying base styles from Tailwind CSS */
@tailwind base;

/* Applying component styles from Tailwind CSS */
@tailwind components;

/* Applying utility styles from Tailwind CSS */
@tailwind utilities;

/* Styling for HTML, body, and the root element with Tailwind CSS classes */
html,
body,
#root,
.app {
  /* Set height and width to 100% to cover the entire viewport */
  height: 100%;
  width: 100%;

  /* Set the font family to "DM Sans" and fall back to sans-serif if not available */
  font-family: "DM Sans", sans-serif;

  /* Apply text color style using Tailwind CSS class */
  @apply text-gray-500;
}
